/.metadata/
Trabalho1/.metadata/.lock
Trabalho1/.metadata/.log
*.version
*.index
*.tree
*.resources
*.prefs
*.xmi
Trabalho1/.metadata/.plugins/org.eclipse.jdt.core/assumedExternalFilesCache
Trabalho1/.metadata/.plugins/org.eclipse.jdt.core/externalFilesCache
*.dat
*.xml
*.setup
*.log
Trabalho1/.metadata/.plugins/org.eclipse.jdt.core/nonChainingJarsCache
Trabalho1/.metadata/.plugins/org.eclipse.ui.intro/introstate
*.ini
